@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* globals.css */

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-geist-sans);
  background-color: rgb(26,26,26);
  color: #fff;
}

h1, h2 {
  color: #fff;
}

main {
  padding: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Heroic';
  src: url('/fonts/Heroic.woff2') format('woff2'),
       url('/fonts/Heroic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.snap-x {
  scroll-snap-type: x mandatory;
}

.snap-center {
  scroll-snap-align: center;
}
/* Ajout d'une classe pour masquer les éléments initialement */
.hidden-item {
  opacity: 0;
  transform: translateY(20px);
}
.bg-black-2 {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: inherit;
  gap: 2rem;
  height: 25.75rem;
  padding: 3rem 2.375rem;
  text-align: center;
}
.scroll-container {
  display: flex;
  overflow: hidden; /* Empêche le débordement */
  white-space: nowrap;
  width: 200%; /* Double la largeur pour assurer un défilement continu */
}
@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Freeman';
  src: url('/fonts/Freeman-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}









@media (max-width: 620px) {
  #img {
    width: 46.5vw; 
  }
  #imgg {
    left: 25.5%;
  }
  #new {
    height: 129vh;
  }
  #ing {
    right: 70.5%; /* Ajuste cette valeur pour les petits écrans */
  }

  #un {
    top:-17vw;
   
  }
  #deux {
   top:-3vw;
    
  }
  #deu {
    top:-18vw;
  }
}

@media (max-width: 610px) {
  #img {
    width: 47.5vw; 
  }
  #imgg {
    left: 24.5%;
  }
  #new {
    height: 129vh;
  }
  #ing {
    right: 70.5%; /* Ajuste cette valeur pour les petits écrans */
  }

  #un {
    top:-17vw;
   
  }
  #deux {
   top:-3vw;
    
  }
  #deu {
    top:-18vw;
  }
}

@media (max-width: 600px) {
  #img {
    width: 48.5vw; 
  }
  #imgg {
    left: 23.5%;
  }
  #new {
    height: 129vh;
  }
  #ing {
    right: 70.5%; /* Ajuste cette valeur pour les petits écrans */
  }

  #un {
    top:-17vw;
   
  }
  #deux {
   top:-3vw;
    
  }
  #deu {
    top:-18vw;
  }
}


@media (max-width: 590px) {
  #img {
    width: 49.5vw; 
  }
  #imgg {
    left: 23.5%;
  }
  #new {
    height: 129vh;
  }
  #ing {
    right: 70.5%; /* Ajuste cette valeur pour les petits écrans */
  }

  #un {
    top:-17vw;
   
  }
  #deux {
   top:-3vw;
    
  }
  #deu {
    top:-18vw;
  }
}





@media (max-width: 580px) {
  #img {
    width: 50.5vw; 
  }
  #imgg {
    left: 24.5%;
  }
  #new {
    height: 129vh;
  }
  #ing {
    right: 70.5%; /* Ajuste cette valeur pour les petits écrans */
  }

  #un {
    top:-17vw;
   
  }
  #deux {
   top:-3vw;
    
  }
  #deu {
    top:-18vw;
  }
}

@media (max-width: 570px) {
  #img {
    width: 51.5vw; 
  }
  #imgg {
    left: 23.6%;
  }
  #new {
    height: 130vh;
  }
}
@media (max-width: 560px) {
  #img {
    width: 52.5vw; 
  }
  #imgg {
    left: 23.4%;
  }
  #new {
    height: 131vh;
  }
}
@media (max-width: 550px) {
  #img {
    width: 53.5vw; 
  }
  #imgg {
    left: 21.9%;
  }
  #new {
    height: 132vh;
  }
}
@media (max-width: 540px) {
  #img {
    width: 54.5vw; 
  }
  #imgg {
    left: 22.3%;
  }
  #new {
    height: 133vh;
  }
  #ing {
    right: 76.5%; /* Ajuste cette valeur pour les petits écrans */
  }


}
@media (max-width: 530px) {
  #img {
    width: 55.5vw; 
  }
  #imgg {
    left: 22%;
  }
  #new {
    height: 134vh;
  }
}
@media (max-width: 520px) {
  #img {
    width: 56.5vw; 
  }
  #imgg {
    left: 21.5%;
  }
  #new {
    height: 135vh;
  }
}
@media (max-width: 510px) {
  #img {
    width: 57.5vw; 
  }
  #imgg {
    left: 21%;
  }
  #new {
    height: 136vh;
  }
}
@media (max-width: 500px) {
  #img {
    width: 59vw; 
  }
  #imgg {
    left: 20.5%;
  }
  #new {
    height: 137vh;
  }
  #ing {
    right: 79.5%; /* Ajuste cette valeur pour les petits écrans */
  }
}

@media (max-width: 490px) {
  #img {
    width: 60vw; 
  }
  #imgg {
    left: 19.9%;
  }
  #new {
    height: 139vh;
  }
}
@media (max-width: 485px) {
  #img {
    width: 61.5vw; 
  }
  #imgg {
    left: 19.4%;
  }
  #new {
    height: 140vh;
  }
}
@media (max-width: 480px) {
  #img {
    width: 62.5vw; 
  }
  #imgg {
    left: 19.4%;
  }
  #new {
    height: 142vh;
  }
}
@media (max-width: 475px) {
  #img {
    width: 63vw; 
  }
  #imgg {
    left: 19%;
  }
  #new {
    height: 144vh;
  }
}
@media (max-width: 470px) {
  #img {
    width: 64vw; 
  }
  #imgg {
    left: 18.4%;
  }
  #new {
    height: 146vh;
  }
}
@media (max-width: 465px) {
  #img {
    width: 64.5vw; 
  }
  #imgg {
    left: 18.1%;
  }
  #new {
    height: 147vh;
  }
}
@media (max-width: 460px) {
  #img {
    width: 65vw; 
  }
  #imgg {
    left: 17.8%;
  }
  #new {
    height: 148vh;
  }
}
@media (max-width: 455px) {
  #img {
    width: 65.5vw; 
  }
  #imgg {
    left: 17.5%;
  }
  #new {
    height: 152vh;
  }
}
@media (max-width: 450px) {
  #img {
    width: 66vw; 
  }
  #imgg {
    left: 17.2%;
  }
  #new {
    height: 154vh;
  }
}

@media (max-width: 445px) {
  #img {
    width: 66.5vw; 
  }
  #imgg {
    left: 16.9%;
  }
  #new {
    height: 156vh;
  }
}

@media (max-width: 440px) {
  #img {
    width: 67vw; 
  }
  #imgg {
    left: 16.4%;
  }
  #new {
    height: 157vh;
  }
}
@media (max-width: 435px) {
  #img {
    width: 67.5vw; 
  }
  #imgg {
    left: 15.8%;
  }
  #new {
    height: 158vh;
  }
}

@media (max-width: 430px) {
  #img {
    width: 68vw; 
  }
  #imgg {
    left: 15.3%;
  }
  #new {
    height: 159vh;
  }
}






@media (max-width: 420px) {
  #img {
    width: 71vw; 
  }
  #imgg {
    left: 14.8%;
  }
  #new {
    height: 163vh;
  }
}

@media (max-width: 415px) {
  #img {
    width: 72vw; 
  }
  #imgg {
    left: 13%;
  }
  #new {
    height: 167vh;
  }
}

@media (max-width: 410px) {
  #img {
    width: 73vw; 
  }
  #imgg {
    left: 12.2%;
  }
  #new {
    height: 170vh;
  }
  #ing {
    right:120.5%; /* Ajuste cette valeur pour les petits écrans */
  }
}

@media (max-width: 405px) {
  #img {
    width: 74.5vw; 
  }
  #imgg {
    left: 11.4%;
  }
}

@media (max-width: 400px) {
  #img {
    width: 75.5vw; 
  }
  #imgg {
    left: 11.6%;
  }
  #ing {
    right:122.5%; /* Ajuste cette valeur pour les petits écrans */
  }
}

@media (max-width: 395px) {
  #img {
    width: 77vw; 
  }
  #imgg {
    left: 9.8%;
  }
}

@media (max-width: 390px) {
  #img {
    width: 78.5vw; 
  }
  #imgg {
    left: 9.3%;
  }
  #ing {
    right:125.5%; /* Ajuste cette valeur pour les petits écrans */
  }
}

@media (max-width: 385px) {
  #img {
    width: 80vw; 
  }
  #imgg {
    left: 8.7%;
  }
}

@media (max-width: 380px) {
  #img {
    width: 81.5vw; 
  }
  #imgg {
    left: 8.4%;
  }
  #new {
    height: 177vh;
  }
}

/* Ajustement de la position pour les écrans plus petits */
@media (max-width: 375px) {
  #img {
    width: 83vw;
    
  }
  #imgg {
   
    left: 8.1%;
  }
  #new {
    height: 180vh;
  }
  #ing {
    right: 128.5%; /* Ajuste cette valeur pour les petits écrans */
  }

  #un {
    top:-3.5vw;
   
  }
  #deux {
   top:10.5vw;
    
  }
  #band {
    bottom: -0.2rem;
  }
  #top {
    margin-top:1rem;
  }
} 
@media (max-width: 370px) {
  #img {
    width: 84vw;
    
  }
  #imgg {
   
    left: 7.1%;
  }
  #new {
    height: 183vh;
  }
  #ing {
    right: 130.5%; /* Ajuste cette valeur pour les petits écrans */
  }

  #un {
    top:-3.5vw;
   
  }
  #deux {
   top:10.5vw;
    
  }
  #band {
    bottom: -0.2rem;
  }
  #top {
    margin-top:1rem;
  }
} 

@media (max-width: 365px) {
  #img {
    width: 85vw;
    
  }
  #imgg {
   
    left: 7%;
  }
  #new {
    height: 182vh;
  }
  #ing {
    right: 130.5%; /* Ajuste cette valeur pour les petits écrans */
  }

  #un {
    top:-3.5vw;
   
  }
  #deux {
   top:10.5vw;
    
  }
  #band {
    bottom: -0.2rem;
  }
  #top {
    margin-top:1rem;
  }
} 

@media (max-width: 360px) {
  #img {
    width: 86.5vw;
    
  }
  #imgg {
   
    left: 6.5%;
  }
  #new {
    height: 182vh;
  }
  #ing {
    right: 132.5%; /* Ajuste cette valeur pour les petits écrans */
  }

  #un {
    top:-3.5vw;
   
  }
  #deux {
   top:10.5vw;
    
  }
  #band {
    bottom: -0.2rem;
  }
  #top {
    margin-top:1rem;
  }
} 
@media (max-width: 355px) {
  #img {
    width: 86.5vw;
    
  }
  #imgg {
   
    left: 6.5%;
  }
  #new {
    height: 184vh;
  }
  #ing {
    right: 133.5%; /* Ajuste cette valeur pour les petits écrans */
  }

  #un {
    top:-3.5vw;
   
  }
  #deux {
   top:10.5vw;
    
  }
  #band {
    bottom: -0.2rem;
  }
  #top {
    margin-top:1.1rem;
  }
} 

@media (max-width: 350px) {
  #img {
    width: 88vw;
    
  }
  #imgg {
   
    left: 5.5%;
  }
  #new {
    height: 187vh;
  }
  #ing {
    right: 135.5%; /* Ajuste cette valeur pour les petits écrans */
  }

  #un {
    top:-3.5vw;
   
  }
  #deux {
   top:10.5vw;
    
  }
  #band {
    bottom: -0.2rem;
  }
  #top {
    margin-top:1.2rem;
  }
} 

@media (max-width: 345px) {
  #img {
    width: 90vw;
    
  }
  #imgg {
   
    left: 4.5%;
  }
  #new {
    height: 187vh;
  }
  #ing {
    right: 137.5%; /* Ajuste cette valeur pour les petits écrans */
  }

  #un {
    top:-3.5vw;
   
  }
  #deux {
   top:10.5vw;
    
  }
  #band {
    bottom: -0.2rem;
  }
  #top {
    margin-top:1.3rem;
  }
} 

@media (max-width: 340px) {
  #img {
    width: 92vw;
    
  }
  #imgg {
   
    left: 3.7%;
  }
  #new {
    height: 190vh;
  }
  #ing {
    right: 140.5%; /* Ajuste cette valeur pour les petits écrans */
  }

  #un {
    top:-3.5vw;
   
  }
  #deux {
   top:10.5vw;
    
  }
  #band {
    bottom: -0.2rem;
  }
  #top {
    margin-top:1.4rem;
  }
} 


@media (max-width: 335px) {
  #img {
    width: 94vw;
    
  }
  #imgg {
   
    left: 3%;
  }
  #new {
    height: 194vh;
  }
  #ing {
    right: 143.5%; /* Ajuste cette valeur pour les petits écrans */
  }

  #un {
    top:-3.5vw;
   
  }
  #deux {
   top:10.5vw;
    
  }
  #band {
    bottom: -0.2rem;
  }
  #top {
    margin-top:1.5rem;
  }
} 

@media (max-width: 330px) {
  #img {
    width: 96vw;
    
  }
  #imgg {
   
    left: 2.2%;
  }
  #new {
    height: 194vh;
  }
  #ing {
    right: 145.5%; /* Ajuste cette valeur pour les petits écrans */
  }

  #un {
    top:-3.5vw;
   
  }
  #deux {
   top:10.5vw;
    
  }
  #band {
    bottom: -0.2rem;
  }
  #top {
    margin-top:2.2rem;
  }
} 

@media (max-width: 325px) {
  #img {
    width: 98vw;
    
  }
  #imgg {
   
    left: 1.7%;
  }
  #new {
    height: 194vh;
  }
  #ing {
    right: 147.5%; /* Ajuste cette valeur pour les petits écrans */
  }

  #un {
    top:-3.5vw;
   
  }
  #deux {
   top:10.5vw;
    
  }
  #band {
    bottom: -0.2rem;
  }
  #top {
    margin-top:2.2rem;
  }
} 

@media (max-width: 320px) {
  #new {
    height: 209vh;
  }
  #ing {
    right: 162.5%; /* Ajuste cette valeur pour les petits écrans */
  }
  #img {
    width: 97vw;
    
  }
  #imgg {
    
    left: 2%;
  }
  #un {
    top:2vw;
   
  }
  #deux {
   top:17vw;
    
  }
  #video {
    width: 102%;
  }
  #band {
    bottom: -0.2rem;
  }
  #top {
    margin-top:3.9rem;
  }
}














@media (min-width: 760px) {
  #he {
    min-height: '10vh' !important;
  }
  #img {
    width: 60vw; 
  }
  #imgg {
    left: 20.3%;
  }
  #ing {
    right:125.5%; /* Ajuste cette valeur pour les petits écrans */
  }
  #un {
    top:-27vw;
   
  }
  #deux {
   top:-15vw;
    
  }
  #deu {
    top:-25vw;
    font-size: 1.1rem !important;
  }
  #ing {
    right: 40.5%; /* Ajuste cette valeur pour les petits écrans */
  }

}

