@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* globals.css */

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-geist-sans);
  background-color: rgb(26,26,26);
  color: #fff;
}

h1, h2 {
  color: #fff;
}

main {
  padding: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Heroic';
  src: url('/fonts/Heroic.woff2') format('woff2'),
       url('/fonts/Heroic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.snap-x {
  scroll-snap-type: x mandatory;
}

.snap-center {
  scroll-snap-align: center;
}
/* Ajout d'une classe pour masquer les éléments initialement */
.hidden-item {
  opacity: 0;
  transform: translateY(20px);
}
.bg-black-2 {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: inherit;
  gap: 2rem;
  height: 25.75rem;
  padding: 3rem 2.375rem;
  text-align: center;
}
.scroll-container {
  display: flex;
  overflow: hidden; /* Empêche le débordement */
  white-space: nowrap;
  width: 200%; /* Double la largeur pour assurer un défilement continu */
}
@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Freeman';
  src: url('/fonts/Freeman-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
